
@{
    ViewBag.Title = "Index";
}

<h2>Data Management</h2>

<ul>
    <li>@Html.ActionLink("Universities", "index", "Universities")</li>
    <li>@Html.ActionLink("Transfer Grid", "index", "Transfer_r")</li>
</ul>




